.region{
  &-header{
    gap: 32px;

    .menu--main{
      >.navbar-nav{
        column-gap: 44px;
        padding: 0 16px;
        padding-right: 0;

        .nav-link{
          color: $color-default;
        }

        >.nav-item{
          padding: 13.5px 0;
          position: relative;

          &:before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            background-color: #17405D;
            transition: all 0.3s ease-in-out;
          }

          >a, >.nav-link{
            text-transform: uppercase;
            @include font-bold(13px, 20.8px, $color-default);
          }

          a{
            color: $color-default;
            text-decoration: unset;

            &:hover{
              color: $color-default;
              text-decoration: unset;
            }
          }

          &.menu-item--active-trail{
            a{
              color: $color-default;
              text-decoration: unset;
            }
          }

          &.menu-item--expanded{
            >.nav-link{
              gap: 8px;

              .icon{
                width: 16px;
                height: 16px;
                @include set-icon(toggle-menu);
                background-size: 12px;
                flex: 0 0 16px;
              }

              &:after{
                display: none;
              }
            }

            &:hover{
              >.nav-link{
                color: $color-default;

                &:after{
                  @include set-icon(toggle-menu);
                  background-size: 12px;
                  transform: unset;
                  transition: unset;
                }
              }
              &:hover>.navbar-nav{
                opacity: 0;
                visibility: hidden;
              }

              >.navbar-nav {
                opacity: 1 !important;
                visibility: visible !important;
              }
            }

            >.navbar-nav{
              background: #FBF5ED;
              padding: 8px;
              border-radius: 4px;
              box-shadow: 0px 0px 20px 4px #A99B8833;
              top: 48px;
              min-width: 220px;
              z-index: 29;
              &.child{
                &:before{
                  display: none;
                }
                .nav-link{
                  padding: 12px 8px;
                  width: 100%;
                  text-transform: uppercase;
                  font-size: 13px;
                  line-height: 20.8px;
                  font-family: "Inter Bold";
                  font-weight: 700;
                  &:hover, &:focus{
                    background-color: $background-body-dark;
                  }
                }
              }
              .nav-item{
                margin-bottom: 8px;
                &:hover, &:focus{
                  background: linear-gradient(0deg, #FBF5ED, #FBF5ED),
                  linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04));
                }
              }
              &.active{
                opacity: 1 !important;
                visibility: visible !important;
              }
            }
          }

          &:hover {
            &:before {
              width: 50px;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }

    .menu--account{
      .menu{
        gap: 44px;
        padding-left: 0;

        a{
          color: $color-default;
          text-decoration: unset;
        }
      }

      >.menu {
        gap: 44px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        >.menu-item >span{
          text-transform: uppercase;
          &:hover, &:focus{
            cursor: pointer;
          }
        }
        a, span {
          text-decoration: unset;
          @include font-bold(13px, 20.8px, $color-default);
          position: relative;
          &:hover{
            &:before{
              width: 50px;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .menu{
          display: flex;
          flex-wrap: wrap;
        }
        >.menu-item{
          padding: 13.5px 0;
          position: relative;
          &:before{
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 2px;
            width: 0;
            background-color: #17405D;
            transition: all 0.3s ease-in-out;
          }
          &:hover, &:focus{
            &:before{
              width: 50px;
              transition: all 0.3s ease-in-out;
            }
          }
          >a{
            font-weight: bold;
          }
          &.menu-item--expanded{
            position: relative;
            min-height: 23px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 8px;
            &:after{
              content: "";
              display: inline-block;
              width: 16px;
              height: 16px;
              @include set-icon(toggle-menu);
              background-size: 12px;
              flex: 0 0 16px;
            }
            > .menu{
              position: absolute;
              padding: 15px;
              background: #FBF5ED;
              padding: 8px;
              border-radius: 4px;
              box-shadow: 0px 0px 20px 4px rgba(169, 155, 136, 0.2);
              top: 53px;
              min-width: 260px;
              justify-content: flex-start;
              height: 0;
              opacity: 0;
              visibility: hidden;
              z-index: 10;
              gap: 0;
              &:before{
                position: absolute;
                content: '';
                width: 50%;
                min-width: 150px;
                background: transparent;
                top: -16px;
                left: 0;
                height: 0;
                opacity: 0;
                visibility: hidden;
              }
              li{
                width: 100%;
                margin-bottom: 8px;
                a, span{
                  padding: 12px 8px;
                  width: 100%;
                  display: block;
                }
                a{
                  &:hover, &:focus{
                    background-color: $background-body-dark;
                  }
                }
                &:first-child{
                  margin-top: 0;
                }
              }
              .menu{
                width: 100%;
                gap: 0;
                a{
                  padding-left: 24px;
                }
                li *{
                  font-family: $font-family;
                  text-transform: none;
                  font-weight: normal;
                  font-size: 16px;
                }
              }
            }
            &:hover{
              >.menu{
                height: auto;
                opacity: 1;
                visibility: visible;
                &:before{
                  height: 15px;
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
        }
        > li >.menu{
          >li.menu-item--expanded{
            >*{
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }
      }
    }

    ul.menu{
      margin-bottom: 0;

      >.menu-item{
        >a{
          text-transform: uppercase;
          @include font-bold(13px, 20.8px, $color-default);
        }
      }
    }
  }

  &-footer-top {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    padding-bottom: 80px;
    padding-top: 80px;
    border-bottom: 1px solid rgba(23, 64, 93, 0.15);
    @include media-breakpoint-down(md) {
      padding-bottom: 32px;
      padding-top: 50px;
    }

    h2 {
      @include font-and-color(20px, 24px, $color-default);
      font-family: $font-yeseva-one;
      margin-bottom: 48px;
    }

    >* {
      flex: 1;
      &.footer-col-lg-3 {
        max-width: 33.33332%;
        flex: 0 0 33.33332%;
      }
    }

    .block-system-branding-block {
      max-width: 100%;
      flex: 0 0 100%;
      margin-bottom: 64px;
      text-align: center;
      @include media-breakpoint-down(md) {
        margin-bottom: 40px;
      }
    }



    ul {
      padding-left: 0;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      row-gap: 4px;

      a {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
    }
  }

  &-footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 32px;
    gap: 24px;
    
    p {
      margin-bottom: 0;
      font-size: 16px;
      line-height: 26px;
    }

    .rounded-social-buttons {
      display: flex;
      flex-wrap: wrap;
      column-gap: 20px;

      a {
        font-size: 0;
      }

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: $color-default;
        }
      }
    }
  }
}
